@model IdezJobsWeb.Models.UserCollege
@{
	ViewBag.Title = "IdezJobs";
	Layout = "~/Views/Shared/_Layout.cshtml";

}		  
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt">
<head>
	<title>LinkedIn JavaScript API Sample Application</title>
	<meta http-equiv="Content-Type" content="text/html charset=utf-8" />	
	
	<!-- Load in the JavaScript framework and register a callback function -->
	<script type="text/javascript" src="http://platform.linkedin.com/in.js">		/*
		api_key: ixvlxp7r4eqh
		scope: r_fullprofile r_emailaddress r_basicprofile
		onLoad: onLinkedInLoad
		authorize: true
		*/
	</script>
	<script type="text/javascript">
		function onLinkedInLoad() {
			IN.Event.on(IN, "auth", function () { onLinkedInLogin(); });
			IN.Event.on(IN, "logout", function () { onLinkedInLogout(); });
		}

		function onLinkedInLogout() {
			setLoginBadge(false);
		}

		function profile() {

			IN.API.Profile("me")
			.field(["id", "firstName", "lastName", "pictureUrl", "publicUrl", "headline", "industry", "interests"])
			.result(function (result) {
				this.publicProfileUrl = result.values[0].lastName
				this.id = result.values[0].id;
				this.firstName = result.values[0].firstName;
				this.pictureUrl = result.values[0].pictureUrl;
				this.publicUrl = result.values[0].publicUrl;
				this.headline = result.values[0].headline;
				this.industry = result.values[0].industry;
				this.interests = result.values[0].interests;

			});

			
		}

		function onLinkedInLogin() {
			// we pass field selectors as a single parameter (array of strings)
			IN.API.Profile("me")
			.fields(["id", "firstName", "lastName", "pictureUrl", "publicProfileUrl", "headline", "industry", "interests", "emailAddress", "honors"])
			.result(function (result) {
				console.log(result);
				//setLoginBadge(result.values[0]);
				var dados = {
					id: result.values[0].id

				};
				alert("Primeira chamada:");
				$.ajax({
					type: "POST",
					url: "http://localhost:1677/Account/saveUser/",
					data: result.values[0],
					dataType: 'json',
					success: function (result) {
						//alert(json.stringify(dados));
						if (result.codigo == 1) {
							console.log(result.msg);
						}
						else {
							console.log("Ocorreu algum erro!");
							console.log(result);
						}
					}
				});

			});
		}

		function setLoginBadge(profile) {
			var cont = 0;

			if (!profile) {
				profHTML = "<p>You are not logged in</p>";
			}
			else {
				var pictureUrl = profile.pictureUrl || "http://static02.linkedin.com/scds/common/u/img/icon/icon_no_photo_80x80.png";
				profHTML = "<p><a href=\"" + profile.publicProfileUrl + "\">";
				profHTML = profHTML + "<img align=\"baseline\" src=\"" + pictureUrl + "\"></a>";
				profHTML = profHTML + "&nbsp; Welcome <a href=\"" + profile.publicProfileUrl + "\">";
				profHTML = profHTML + profile.firstName + " " + profile.lastName + "</a>! <a href=\"#\" onclick=\"IN.User.logout(); return false;\"><img src='../../css/img/logout.png' width='20' height='20' title='Logout'/></a></p>";
				profHTML = profHTML + "Atualmente atua como: " + profile.headline;
				profHTML = profHTML + "<br />Industria: " + profile.industry;
				profHTML = profHTML + "<br />Id: " + profile.headline;
				profHTML = profHTML + "<br />Email: " + profile.emailAddress;
				profHTML = profHTML + "<br /> Interesse: " + profile.interests;


			}

			document.getElementById("loginbadge").innerHTML = profHTML;
		}


		function searchCandidates(parametros) {
			//realizo consulta no banco para retornar todos os ids registrados
		}

		function includeFilters(profile) {
			var parameters = {
				pictureUrl: pictureUrl,
				publicProfileUrl: profile.publicProfileUrl,
				lastName: profile.lastName,
				headline: profile.headline,
				industry: profile.industry
			}

			return parameters;
		}

		function saveUser(profile) {
			document.getElementById("iduser").value = profile.id;
			alert(document.getElementById("iduser").value);
		}
	</script>
</head>
<body>
	<div id="fullScreen">
		<table align="center">
			<tr>
				<td>
					<div id="center">
						<div id="header">
							<img src="../Content/principal/css/imagens/bemVindo2.fw.png" />
						</div>
						<div id="estudante">
							<img src="../Content/principal/css/imagens/iestudante.fw.png" width="230" height="210" /><br />
							<img src="../Content/principal/css/imagens/testudante2.fw.png" />
							<div id="linkedin">
								<script type="IN/Login"></script>
							</div>
						</div>
						<div id="setaEstudante">
							<img src="../Content/principal/css/imagens/setaEstudante.fw.png" width="200" height="30" />
						</div>
						<div id="iJobs">
							<img src="../Content/principal/css/imagens/logo_idezjobs.fw.png" />
						</div>
						<div id="setaEmpresa">
							<img src="../Content/principal/css/imagens/setaEmpresa.fw.png" width="200" height="30" />
						</div>
						<div id="empresa">
							<a id="empresaLink" href="">
								<img src="../Content/principal/css/imagens/iempresa.fw.png" width="210" height="270" /></a>
							<br />
							<img src="../Content/principal/css/imagens/tempresa2.fw.png" />
							<div id="divdeps" style="display: none;">
								<form>
								<label for="txtEmpresa">
									Nome</label>
								<input type="text">
								</form>
							</div>
						</div>
						<div id="footer">
						</div>
				</td>
			</tr>
		</table>
	</div>
	   
</body>
</html>
