
@{
    ViewBag.Title = "Troca Senha Sucesso"; 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Alteração de Senha</h2>
<p>
    Parabéns, sua senha foi alterada com sucesso..
</p>
<br/>
@Html.ActionLink("Index","Index")
