@model IdezJobsWeb.Models.ProfileVacancy

@{
    ViewBag.Title = "Sucess";
    Layout = "~/Areas/Business/Views/Shared/_Layout.cshtml";
}

<h2> Sua operação foi realizada com sucesso</h2>
</br>

@Html.ActionLink("Index","index")
