@model IEnumerable<IdezJobsWeb.Models.Vacancy>

@{
    ViewBag.Title = "Lista de Vagas";
    Layout = "~/Areas/Administrative/Views/Shared/_Layout.cshtml";
}

<h2>Lista de vagas</h2>


@(Html.Telerik( ).Grid<Vacancy>( ).Name("Grid").DataBinding(binfing => binfing.Ajax( ).Select("_ListVacancy", "Vacancy"))
.Columns(
 colunas => 
 {
 colunas.Bound(c => c.Description).Title("Descrição").Width("16,66%");
 colunas.Bound(c => c.RegistrionDate).Title("Data Cadastro").Width("16,66%");
 colunas.Bound(c => c.RegistrationDeadline).Title("Disponível até:").Width("16,66%");
 colunas.Bound(c => c.JobsNumber).Title("Número Vagas").Width("16,66%");
 colunas.Bound(c => c.ProfileJobs).Title("Perfil Vaga").Width("16,66%");
 colunas.Bound(c => c.CompanyName).Title("Empresa").Width("16,66%");
 }
 )
 
.Pageable(paginas => paginas.PageSize(10) )
.Scrollable( )
.Sortable( )
.Selectable( )
.Groupable( )
.Filterable( )
.Resizable(paginas => paginas.Columns(true))
)

