@model IdezJobsWeb.Models.Profile

@{
    ViewBag.Title = "NoRecords";
    Layout = "~/Areas/Business/Views/Shared/_Layout.cshtml";
}

<h2>Até o momento não existe nenhum candidato para esta vaga.</h2>	</br>
@Html.ActionLink("Voltar","ListVacancy","Vacancy")
