@model IEnumerable<IdezJobsWeb.Models.Profile>
@{
	ViewBag.Title = "ShowUser";
	Layout = "~/Areas/Business/Views/Shared/_Layout.cshtml";
}
<h2>
	Estudantes Encontrados</h2>
<table class="table table-bordered">
	<tr>
		<th>
			Nome:
		</th>
		<th>
			Url Pública:
		</th>
		<th>
			Opções:
		</th>
	</tr>
	@foreach (var item in Model)
 {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.PublicUrl)
			</td>
			<td>
				@Html.ActionLink("Enviar Email", "Edit", new { id = item.Id }) |
			</td>
		</tr>
 }
</table>
